.header {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    background-color: floralwhite;
    color: black;
    padding: 5px 20px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 45px;
    font-family: 'Montaga', sans-serif;
  }
}
